# Ignore virtual environment folder
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/editor configs

# Ignore executable builds
build/
umbra-app.spec