# Ignore virtual environment folder
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/editor configs
.vscode/

# Ignore executable builds
build/
umbra-app.spec

# Ignore API Keys
api_key.txt
api_info.txt

# Ignore workshop files
workshop/